
#canvas{
  display: block;
  margin: auto;
  margin-top: -640px;
  z-index:1;
  border: 3px #fff solid;
  border-radius: 10px;
}

#video{
  display: block;
  margin: auto;
  z-index:-1;
  border: 3px #fff solid;
  border-radius: 10px;
}

#color-scroll {
  width: 640px;
  height: 100px;
  margin: 50px auto 0 auto;
  border-radius: 15px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  overflow: auto;
  white-space: nowrap;

  /*bottom: 0;
  text-align: center;
  z-index: 2;
  overflow-x: scroll;
  white-space: nowrap;
  width: 70%;
  height: 20%;*/
/*  display: flex;*/
  /*align-items: center;
  margin: 0 auto;*/
}

.color-option {
  all: unset;
  z-index: 3;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
}

